// $dark_green: DarkGreen;
$dark_green: Teal;
$mac_green: Teal;
$dark_red: #990000;

@mixin mac-button() {
  padding: 0.4em 1em 0.4em 1em;
  font-family: 'Raleway';
  font-size: 0.8em;
  -webkit-appearance: none;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  background: $dark-green;
  color: #fff !important;
  font-weight: 700;
  outline: 0;
  //  @include vendor('transition', 'background-color .25s ease-in-out');
  &:active {
    color: #fff;
  }
  &:hover {
    background: #e53359;
    color: #fff;
  }
  &:active {
    background: #c51349;
    color: #fff;
  }
  &.alt {
    background: #252122;
    &:hover {
      background: #353132;
    }
    &:active {
      background: #151112;
    }
  }
}

@mixin mac-button-large() {
  @include mac-button();
  padding: 0.65em 1.5em 0.65em 1.5em;
  font-size: 1em;
}
