@import "bourbon/bourbon";
@import "base/base";
@import "partials/base";
@import "grid-settings";
@import "neat/neat";

body {
  background: #f7f7f7;
  font-family: 'Crimson Text';
  font-weight: normal;
  color: #5d5d5d;
  margin: 0;
  font-size: 1.2em;

}

input, textarea, select {
  font-family: 'Crimson Text';
  font-weight: 300;
  color: #5d5d5d;
}

strong, b {
  color: #252122;
  font-weight: 400;
}

i, em {
  font-style: italic;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

blockquote {
  border-left: solid 0.75em #dddddd;
  padding: 1em 0 1em 1.5em;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  color: $dark_green;
  font-weight: 400;
  font-family: 'Raleway';
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

a {
  color: $dark_red;
  text-decoration: underline;

  &:hover {
    color: $dark_green;
  }
}

br.clear {
  clear: both;
}

hr {
  border: 0;
  border-top: solid 1px #dddddd;
  height: 1px;
  margin: 2em 0 2em 0;
}

p, ul, ol, dl, table {
  margin-bottom: 1em;
}

.header {
  @include span-columns(12);

  padding: 1.5em 0 2em 0;
  position: relative;
  background: #ffffff;
  border-bottom: solid 1px #ccc;
  text-align: center;
  .site-name {
    margin: 0.25em 0 0em 0;
    color: $dark_green;
    font-weight: 900;
    font-size: 1.9em;
    letter-spacing: 0.1em;
  }
  .site-slogan {
    font-family: Raleway;
    font-weight: 100;
    font-size: 1.7em;
    letter-spacing: 0.15em;
    margin: 0em 0 1em 0;

  }
  @include media($tablet_wide) {
    .site-name {
      font-size: 1.9em;
    }
    .site-slogan {
      font-size: 1.7em;
    }
  }
  @include media($tablet_narrow) {
    .site-name {
      font-size: 1.5em;
    }
    .site-slogan {
      font-size: 1.3em;
    }
  }
  @include media($mobile) {
    .site-slogan {
      font-size: 0.9em;
    }
  }
  nav {
    > ul {
      margin: 0;
      > li {
        display: inline-block;
        font-style: italic;
        margin: 1.35em 0.35em 0 0.35em;
        &.icon {
          display: none;
        }
        > ul {
          display: none;
        }
        > a {
          border-radius: 5px;
          color: #5d5d5d;
          text-decoration: none;
          padding: 0.6em 1.2em 0.6em 1.2em;
          outline: 0;
        }
        &:hover {
          > a {
            background: #f3f3f3;
          }
        }
        &.menu-item--active-trail {
          > a {
            background: $dark_red;
            color: #fff !important;
          }
        }
      }
    }
  }
}

/* Mobile view of the responsive menu */
@include media($mobile) {
  nav {
    ul {
      &.topnav {
        li {
          display: none;
          &.icon {
            float: left;
            display: inline-block;
            margin-top: -3em;
            font-style: normal;
            a {
              border: 1px solid slategrey;
            }
          }
        }
      }
      &.topnav.responsive {
        position: relative;
        li {
          float: none;
          display: inline;
          margin: 0;
          a {
            display: block;
            text-align: left;
            border-radius: 0;
            border-bottom: 1px solid #5d5d5d;
            padding: 0.5em;
          }
          &.icon {
            float: left;
            display: inline-block;
            margin-top: -3em;

            a {
              border-radius: 5px;
              color: #5d5d5d;
              text-decoration: none;
              padding: 0.6em 1.2em 0.6em 1.2em;
              outline: 0;
            }

          }
          &.menu-item--active-trail {
            > a {
              background: none;
              color: #5d5d5d !important;
            }
          }
        }
      }
    }
  }
}

main {
  @include outer-container;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: 100% 100%;
    z-index: 0;
    opacity: 0.1;
  }
  margin-bottom: 2.5em;
  padding: 2em 0 4em 0;
  @include media($tablet_narrow) {
    padding: 0;
  }
}

.layout-sidebar-first {
  @include span-columns(4);
  @include media($tablet_wide) {
    @include span-columns(2 of 8);
  }
  @include media($tablet_narrow) {
    @include span-columns(2 of 6);
  }
  @include media($mobile) {
    @include span-columns(4 of 4);
  }
  .block {
    background: #ffffff;
    border-bottom: solid 1px #ccc;
    .image.featured {
      position: relative;
      width: auto;
    }
    padding: 2.75em 1.75em 2.75em 1.75em;
    h2 {
      font-size: 1.3em;
      letter-spacing: -0.015em;
    }
    h2 > p {
      margin-top: 1.25em;
    }
    margin-bottom: 2.5em;
    ul {
      li {
        border-top: solid 1px #ddd;
        padding: 1em 0 1em 0;
        //        padding: 0.5em 0 0.5em 0;

        &:first-child {
          border-top: 0;
          padding-top: 0;
        }
      }
    }

  }
}

.homepage .layout-content {
  @include span-columns(12);
  @include media($tablet_wide) {
    @include span-columns(9 of 9);
  }
  @include media($mobile) {
    @include span-columns(3 of 3);
  }
}

.not-homepage .layout-content {
  @include span-columns(8);
  @include media($tablet_wide) {
    @include span-columns(6 of 8);
  }
  @include media($mobile) {
    @include span-columns(4 of 4);
  }

}

.layout-content {

  .featured-image {
    left: 1.75em;
    top: 1.75em;
    margin: -4.5em 0 4.25em -3.5em;
    position: relative;
    width: auto;
    img {
      display: block;
      width: 100%;
    }
  }

  background: #ffffff;
  border-bottom: solid 1px #ccc;
  padding: 2.75em 1.75em 2.75em 1.75em;
  @include media($tablet_narrow) {
    padding: 1em 0;
  }

  margin-bottom: 2.5em;

  > :last-child,
  &:last-child {
    margin-bottom: 0;
  }
  h1 {
    font-size: 2.5em;
    letter-spacing: -0.015em;
    @include media($tablet_narrow) {
      font-size: 2em;

    }
  }
  h2 {
    font-size: 1.6em;
    //    letter-spacing: 0.1em;
    font-weight: 700;
  }

}

.homepage .layout-content {
  background: none;
}

.footer-wrapper {
  background: #252122;
  footer {
    @include outer-container;
    .footer {
      @include span-columns(12);
    }
    .footer-col1,
    .footer-col2,
    .footer-col3 {
      @include span-columns(4);
      @include media($tablet_wide) {
        padding: 0 2em;
      }
      @include media($tablet_narrow) {
        @include span-columns(12 of 12);
        padding: 0 2em;
      }
    }
  }
  padding-top: 3em;
  h2 {
    font-size: 1.75em;
    margin: 0 0 2em 0;
  }
  color: #858484;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: 100% 100%;
    z-index: 0;
    opacity: 0.5;
  }
  a {
    color: #c5c4c4;
  }
  h2, h3, h4, h5, h6, strong, b {
    color: #fff;
    a {
      color: inherit;
    }
  }
  ul {
    &.contact li,
    &.dates li,
    &.divided li {
      border-top-color: #353434;
      border-top-color: rgba(255, 255, 255, 0.05);
    }
    &.menu {
      li {
        border-top: solid 1px #ddd;
        border-top-color: #353434;
        border-top-color: rgba(255, 255, 255, 0.05);
        //        border-top-color: #353434;
        //        border-top-color: rgba(255, 255, 255, 0.05);
        padding: 0.5em 0 0.5em 0;
        &:first-child {
          border-top: 0;
          padding-top: 0;
        }
      }
    }
  }
}

/* List */

.node-content {
  ul {
    list-style: none;
    padding: 0;
    li {
      padding-left: 1.5em;
      &:before {
        content: "\f054"; /* FontAwesome Unicode */
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.5em; /* same as padding-left set on li */
        width: 1.5em; /* same as padding-left set on li */
        font-size: 0.6em;
      }
    }
  }
}

ul {
  &.default {
    list-style: disc;
    padding-left: 1em;

    li {
      padding-left: 0.5em;
    }
  }

  &.contact {
    li {
      position: relative;
      border-top: solid 1px #ddd;
      padding: 1.3em 0 1.3em 7em;

      h3 {
        position: absolute;
        left: 0;
        top: 1.3em;
        font-size: 1.1em;
      }

      p {
        margin: 0;
      }

      &:first-child {
        padding-top: 0;
        border-top: 0;

        h3 {
          top: 0;
        }
      }
    }
  }

  &.trainings-list, &.tutorials-list {
    li {
      position: relative;
      border-top: solid 1px #ddd;
      padding: 1.3em 0 1.3em 0em;
      overflow: auto;
    }

    img {
      float: left;
      margin-right: 1em;
    }

    h3 {
      font-size: 1.1em;
    }

    p {
      margin: 0;
    }

    li {
      &:first-child {
        border-top: 0;
        padding-top: 0;
        .date {
          top: 0;
        }
      }
    }
  }

  &.divided {
    li {
      border-top: solid 1px #ddd;
      padding: 1em 0 1em 0;

      &:first-child {
        border-top: 0;
        padding-top: 0;
      }
    }
  }

  &.social {
    overflow: hidden;
    cursor: default;

    li {
      display: inline-block;
      margin-left: 0.75em;

      &:first-child {
        margin-left: 0;
      }

      a {
        display: inline-block;
        width: 3em;
        height: 3em;
        text-align: center;
        border-radius: 5px;
        background: #888;

        &:before {
          color: #fff;
          font-size: 2em;
          line-height: 1.5em;
        }

        &.fa-facebook {
          background: #3c5a98;

          &:hover {
            background: #4c6aa8;
          }
        }

        &.fa-twitter {
          background: #2daae4;

          &:hover {
            background: #3dbaf4;
          }
        }

        &.fa-dribbble {
          background: #c4376b;

          &:hover {
            background: #d4477b;
          }
        }

        &.fa-linkedin {
          background: #006599;

          &:hover {
            background: #1075a9;
          }
        }

        &.fa-tumblr {
          background: #2b4661;

          &:hover {
            background: #3b5671;
          }
        }

        &.fa-google-plus {
          background: #da2713;

          &:hover {
            background: #ea3723;
          }
        }
      }
    }
  }
}

ol {
  &.default {
    list-style: decimal;
    padding-left: 1.25em;

    li {
      padding-left: 0.25em;
    }
  }
}

/* Icons */

.icon {
  position: relative;
  text-decoration: none;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

.icon.featured {
  position: relative;
  display: inline-block;
  background-color: #d52349;
  width: 9em;
  padding: 1.75em 0 0.75em 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 0 4.5em 0;
  cursor: default;
}

.icon.featured:before {
  font-size: 4.5em;
  line-height: 1em;
  color: #fff;
}

.icon.featured:after {
  content: '';
  position: absolute;
  bottom: -1.95em;
  left: 0;
  border-top: solid 2em #d52349;
  border-left: solid 4.5em transparent;
  border-right: solid 4.5em transparent;
}

.icon.featured.alt {
  background-color: #252122;
}

.icon.featured.alt:after {
  border-top-color: #252122;
}

.icon.featured.alt2 {
  background-color: #827a7c;
}

.icon.featured.alt2:after {
  border-top-color: #827a7c;
}

.block-local-tasks-block {
  ul {
    margin: 0;
    li {
      display: inline-block;
      margin: 0 0.35em 1em 0.35em;
      a {
        @include mac-button();

      }
    }
  }
}

.post-footer {
  text-align: center;
  margin: 3em 0 2em 0;
  margin: 0;

  .links {
    font-family: Raleway;
    font-size: 0.9em;
    padding: 0.85em 2.25em 0.85em 2.25em;
    display: inline-block;
    background: #2C2929;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    margin: 0 0 3em 0;
    a {
      color: #bbb;
      &:active, &:visited {
        color: #bbb;
      }
    }
  }
}

/* Intro */
.intro {
  .intro-list {
    > li {
      @include span-columns(4);
      @include media($tablet_wide) {
//        padding: 0 2em;
      }
      @include media($tablet_narrow) {
        .image-featured {
          display: none;
        }
        @include span-columns(3 of 3);
        padding: 0 2em;
      }
      article {
        border-bottom: solid 1px #ccc;
        background: #fff;
        padding: 2em;
        .image-featured {
          margin: -2em -2em 2em -2em;
        }
        header {
          margin: 0 0 1.5em 0;
          h2 {
            font-size: 1.2em;
          }
        }
        .node-content {
          p {
            margin: 0;
          }
        }
        footer {
          a {
            @include mac-button-large();
          }
          margin: 0;
        }
      }
    }
  }
}

/**
 * @file
 * Visual styles for pager.
 */

.pager__items {
  clear: both;
  text-align: center;
}

.pager__item {
  display: inline;
  padding: 0.5em;
}

.pager__item.is-active {
  font-weight: bold;
}

.jumbo-banner {
  background: #CCE8F4 url(../images/banner.jpg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  text-align: center;
  header {
    display: inline-block;
    background-color: rgba(34, 30, 31, 0.98);
    font-size: 1.5em;
    border-radius: 5px;
    margin: 4em;
    padding: 2.5em 5em;

    h2 {
      color: #fff;
      font-weight: 700;
      font-size: 0.9em;

    }
    p {
      color: #d52349;
      padding: 0;
      font-style: normal;
      margin: 0;
    }
  }
  @include media($tablet_wide) {
    header {
      h2 {
      }
    }
  }
  @include media($tablet_narrow) {
    header {
      margin: 2em 0;
      padding: 2em;
      h2 {
      }
    }
  }
  @include media($mobile) {
    header {
      margin: 1em 0;
      padding: 1em;
      border-radius: 0;
      h2 {
        font-size: 0.8em;
      }
      p {
        font-size: 0.7em;

      }
    }
  }

}

