button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #477dca;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #3964a2;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #477dca; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple=multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

input[type="search"] {
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #355e98; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background: #f7f7f7;
  font-family: 'Crimson Text';
  font-weight: normal;
  color: #5d5d5d;
  margin: 0;
  font-size: 1.2em; }

input, textarea, select {
  font-family: 'Crimson Text';
  font-weight: 300;
  color: #5d5d5d; }

strong, b {
  color: #252122;
  font-weight: 400; }

i, em {
  font-style: italic; }

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em; }

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em; }

blockquote {
  border-left: solid 0.75em #dddddd;
  padding: 1em 0 1em 1.5em;
  font-style: italic; }

h1, h2, h3, h4, h5, h6 {
  color: DarkGreen;
  font-weight: 400;
  font-family: 'Raleway'; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none; }

a {
  color: #990000;
  text-decoration: underline; }
  a:hover {
    color: DarkGreen; }

br.clear {
  clear: both; }

hr {
  border: 0;
  border-top: solid 1px #dddddd;
  height: 1px;
  margin: 2em 0 2em 0; }

p, ul, ol, dl, table {
  margin-bottom: 1em; }

.header {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 100%;
  font-size: 1.2em;
  padding: 1.5em 0 2em 0;
  position: relative;
  background: #ffffff;
  border-bottom: solid 1px #ccc;
  text-align: center; }
  .header:last-child {
    margin-right: 0; }
  @media screen and (max-width: 1200px) {
    .header {
      font-size: 1.1em; } }
  @media screen and (max-width: 846px) {
    .header {
      font-size: 1.0em; } }
  @media screen and (max-width: 746px) {
    .header {
      font-size: 0.9em; } }
  .header .site-name {
    margin: 0.25em 0 0em 0;
    color: DarkGreen;
    font-weight: 900;
    font-size: 200%;
    letter-spacing: 0.1em; }
  .header .site-slogan {
    font-family: Raleway;
    font-weight: 100;
    font-size: 115%;
    letter-spacing: 0.15em;
    margin: 0em 0 1em 0; }
  .header nav > ul {
    margin: 0; }
    .header nav > ul > li {
      display: inline-block;
      font-style: italic;
      margin: 0 0.35em 0 0.35em; }
      .header nav > ul > li > ul {
        display: none; }
      .header nav > ul > li > a {
        border-radius: 5px;
        color: #5d5d5d;
        text-decoration: none;
        padding: 0.6em 1.2em 0.6em 1.2em;
        outline: 0; }
      .header nav > ul > li:hover > a {
        background: #f3f3f3; }
      .header nav > ul > li.menu-item--active-trail > a {
        background: #990000;
        color: #fff !important; }

main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5em;
  padding: 4em 0 4em 0; }
  main::after {
    clear: both;
    content: "";
    display: table; }
  main:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: 100% 100%;
    z-index: 0;
    opacity: 0.1; }

.layout-sidebar-first {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 31.91489%; }
  .layout-sidebar-first:last-child {
    margin-right: 0; }
  @media screen and (max-width: 1200px) {
    .layout-sidebar-first {
      float: left;
      display: block;
      margin-right: 3.22581%;
      width: 22.58065%; }
      .layout-sidebar-first:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 846px) {
    .layout-sidebar-first {
      float: left;
      display: block;
      margin-right: 4.34783%;
      width: 30.43478%; }
      .layout-sidebar-first:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 746px) {
    .layout-sidebar-first {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 100%; }
      .layout-sidebar-first:last-child {
        margin-right: 0; } }
  .layout-sidebar-first .block {
    background: #ffffff;
    border-bottom: solid 1px #ccc;
    padding: 2.75em 1.75em 2.75em 1.75em;
    margin-bottom: 2.5em; }
    .layout-sidebar-first .block .image.featured {
      position: relative;
      width: auto; }
    .layout-sidebar-first .block h2 {
      font-size: 1.3em;
      letter-spacing: -0.015em; }
    .layout-sidebar-first .block h2 > p {
      margin-top: 1.25em; }
    .layout-sidebar-first .block ul li {
      border-top: solid 1px #ddd;
      padding: 1em 0 1em 0; }
      .layout-sidebar-first .block ul li:first-child {
        border-top: 0;
        padding-top: 0; }

.homepage .layout-content {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 100%; }
  .homepage .layout-content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 1200px) {
    .homepage .layout-content {
      float: left;
      display: block;
      margin-right: 2.85714%;
      width: 65.71429%; }
      .homepage .layout-content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 746px) {
    .homepage .layout-content {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 100%; }
      .homepage .layout-content:last-child {
        margin-right: 0; } }

.not-homepage .layout-content {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 65.95745%; }
  .not-homepage .layout-content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 1200px) {
    .not-homepage .layout-content {
      float: left;
      display: block;
      margin-right: 3.22581%;
      width: 74.19355%; }
      .not-homepage .layout-content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 746px) {
    .not-homepage .layout-content {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 100%; }
      .not-homepage .layout-content:last-child {
        margin-right: 0; } }

.layout-content {
  background: #ffffff;
  border-bottom: solid 1px #ccc;
  padding: 2.75em 1.75em 2.75em 1.75em;
  margin-bottom: 2.5em; }
  .layout-content .featured-image {
    left: 1.75em;
    top: 1.75em;
    margin: -4.5em 0 4.25em -3.5em;
    position: relative;
    width: auto; }
    .layout-content .featured-image img {
      display: block;
      width: 100%; }
  .layout-content > :last-child, .layout-content:last-child {
    margin-bottom: 0; }
  .layout-content h1 {
    font-size: 2.5em;
    letter-spacing: -0.015em; }
  .layout-content h2 {
    font-size: 1.6em;
    font-weight: 700; }

.homepage .layout-content {
  background: none; }

.footer-wrapper {
  background: #252122;
  padding-top: 3em;
  color: #858484; }
  .footer-wrapper footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .footer-wrapper footer::after {
      clear: both;
      content: "";
      display: table; }
    .footer-wrapper footer .footer {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 100%; }
      .footer-wrapper footer .footer:last-child {
        margin-right: 0; }
    .footer-wrapper footer .footer-col1 {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 31.91489%; }
      .footer-wrapper footer .footer-col1:last-child {
        margin-right: 0; }
    .footer-wrapper footer .footer-col2 {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 31.91489%; }
      .footer-wrapper footer .footer-col2:last-child {
        margin-right: 0; }
    .footer-wrapper footer .footer-col3 {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 31.91489%; }
      .footer-wrapper footer .footer-col3:last-child {
        margin-right: 0; }
  .footer-wrapper h2 {
    font-size: 1.75em;
    margin: 0 0 2em 0; }
  .footer-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: 100% 100%;
    z-index: 0;
    opacity: 0.5; }
  .footer-wrapper a {
    color: #c5c4c4; }
  .footer-wrapper h2, .footer-wrapper h3, .footer-wrapper h4, .footer-wrapper h5, .footer-wrapper h6, .footer-wrapper strong, .footer-wrapper b {
    color: #fff; }
    .footer-wrapper h2 a, .footer-wrapper h3 a, .footer-wrapper h4 a, .footer-wrapper h5 a, .footer-wrapper h6 a, .footer-wrapper strong a, .footer-wrapper b a {
      color: inherit; }
  .footer-wrapper ul.contact li, .footer-wrapper ul.dates li, .footer-wrapper ul.divided li {
    border-top-color: #353434;
    border-top-color: rgba(255, 255, 255, 0.05); }
  .footer-wrapper ul.menu li {
    border-top: solid 1px #ddd;
    border-top-color: #353434;
    border-top-color: rgba(255, 255, 255, 0.05);
    padding: 0.5em 0 0.5em 0; }
    .footer-wrapper ul.menu li:first-child {
      border-top: 0;
      padding-top: 0; }

/* List */
.node-content ul {
  list-style: none;
  padding: 0; }
  .node-content ul li {
    padding-left: 1.5em; }
    .node-content ul li:before {
      content: "\f054";
      /* FontAwesome Unicode */
      font-family: FontAwesome;
      display: inline-block;
      margin-left: -1.5em;
      /* same as padding-left set on li */
      width: 1.5em;
      /* same as padding-left set on li */
      font-size: 0.6em; }

ul.default {
  list-style: disc;
  padding-left: 1em; }
  ul.default li {
    padding-left: 0.5em; }
ul.contact li {
  position: relative;
  border-top: solid 1px #ddd;
  padding: 1.3em 0 1.3em 7em; }
  ul.contact li h3 {
    position: absolute;
    left: 0;
    top: 1.3em;
    font-size: 1.1em; }
  ul.contact li p {
    margin: 0; }
  ul.contact li:first-child {
    padding-top: 0;
    border-top: 0; }
    ul.contact li:first-child h3 {
      top: 0; }
ul.trainings-list li {
  position: relative;
  border-top: solid 1px #ddd;
  padding: 1.3em 0 1.3em 0em;
  overflow: auto; }
ul.trainings-list img {
  float: left;
  margin-right: 1em; }
ul.trainings-list h3 {
  font-size: 1.1em; }
ul.trainings-list p {
  margin: 0; }
ul.trainings-list li:first-child {
  border-top: 0;
  padding-top: 0; }
  ul.trainings-list li:first-child .date {
    top: 0; }
ul.divided li {
  border-top: solid 1px #ddd;
  padding: 1em 0 1em 0; }
  ul.divided li:first-child {
    border-top: 0;
    padding-top: 0; }
ul.social {
  overflow: hidden;
  cursor: default; }
  ul.social li {
    display: inline-block;
    margin-left: 0.75em; }
    ul.social li:first-child {
      margin-left: 0; }
    ul.social li a {
      display: inline-block;
      width: 3em;
      height: 3em;
      text-align: center;
      border-radius: 5px;
      background: #888; }
      ul.social li a:before {
        color: #fff;
        font-size: 2em;
        line-height: 1.5em; }
      ul.social li a.fa-facebook {
        background: #3c5a98; }
        ul.social li a.fa-facebook:hover {
          background: #4c6aa8; }
      ul.social li a.fa-twitter {
        background: #2daae4; }
        ul.social li a.fa-twitter:hover {
          background: #3dbaf4; }
      ul.social li a.fa-dribbble {
        background: #c4376b; }
        ul.social li a.fa-dribbble:hover {
          background: #d4477b; }
      ul.social li a.fa-linkedin {
        background: #006599; }
        ul.social li a.fa-linkedin:hover {
          background: #1075a9; }
      ul.social li a.fa-tumblr {
        background: #2b4661; }
        ul.social li a.fa-tumblr:hover {
          background: #3b5671; }
      ul.social li a.fa-google-plus {
        background: #da2713; }
        ul.social li a.fa-google-plus:hover {
          background: #ea3723; }

ol.default {
  list-style: decimal;
  padding-left: 1.25em; }
  ol.default li {
    padding-left: 0.25em; }

/* Icons */
.icon {
  position: relative;
  text-decoration: none; }

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important; }

.icon > .label {
  display: none; }

.icon.featured {
  position: relative;
  display: inline-block;
  background-color: #d52349;
  width: 9em;
  padding: 1.75em 0 0.75em 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 0 4.5em 0;
  cursor: default; }

.icon.featured:before {
  font-size: 4.5em;
  line-height: 1em;
  color: #fff; }

.icon.featured:after {
  content: '';
  position: absolute;
  bottom: -1.95em;
  left: 0;
  border-top: solid 2em #d52349;
  border-left: solid 4.5em transparent;
  border-right: solid 4.5em transparent; }

.icon.featured.alt {
  background-color: #252122; }

.icon.featured.alt:after {
  border-top-color: #252122; }

.icon.featured.alt2 {
  background-color: #827a7c; }

.icon.featured.alt2:after {
  border-top-color: #827a7c; }

.block-local-tasks-block ul {
  margin: 0; }
  .block-local-tasks-block ul li {
    display: inline-block;
    margin: 0 0.35em 1em 0.35em; }
    .block-local-tasks-block ul li a {
      padding: 0.4em 1em 0.4em 1em;
      font-family: 'Raleway';
      font-size: 0.8em;
      -webkit-appearance: none;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
      border: 0;
      border-radius: 5px;
      background: DarkGreen;
      color: #fff !important;
      font-weight: 700;
      outline: 0; }
      .block-local-tasks-block ul li a:active {
        color: #fff; }
      .block-local-tasks-block ul li a:hover {
        background: #e53359;
        color: #fff; }
      .block-local-tasks-block ul li a:active {
        background: #c51349;
        color: #fff; }
      .block-local-tasks-block ul li a.alt {
        background: #252122; }
        .block-local-tasks-block ul li a.alt:hover {
          background: #353132; }
        .block-local-tasks-block ul li a.alt:active {
          background: #151112; }

.post-footer {
  text-align: center;
  margin: 3em 0 2em 0;
  margin: 0; }
  .post-footer .links {
    font-family: Raleway;
    font-size: 0.9em;
    padding: 0.85em 2.25em 0.85em 2.25em;
    display: inline-block;
    background: #2C2929;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    margin: 0 0 3em 0; }
    .post-footer .links a {
      color: #bbb; }
      .post-footer .links a:active, .post-footer .links a:visited {
        color: #bbb; }

/* Intro */
.intro .intro-list {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .intro .intro-list::after {
    clear: both;
    content: "";
    display: table; }
  .intro .intro-list > li {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 31.91489%; }
    .intro .intro-list > li:last-child {
      margin-right: 0; }
    .intro .intro-list > li article {
      border-bottom: solid 1px #ccc;
      background: #fff;
      padding: 2em; }
      .intro .intro-list > li article .image-featured {
        margin: -2em -2em 2em -2em; }
      .intro .intro-list > li article header {
        margin: 0 0 1.5em 0; }
        .intro .intro-list > li article header h2 {
          font-size: 1.2em; }
      .intro .intro-list > li article .node-content p {
        margin: 0; }
      .intro .intro-list > li article footer {
        margin: 0; }
        .intro .intro-list > li article footer a {
          padding: 0.4em 1em 0.4em 1em;
          font-family: 'Raleway';
          font-size: 0.8em;
          -webkit-appearance: none;
          display: inline-block;
          text-decoration: none;
          cursor: pointer;
          border: 0;
          border-radius: 5px;
          background: DarkGreen;
          color: #fff !important;
          font-weight: 700;
          outline: 0;
          padding: 0.65em 1.5em 0.65em 1.5em;
          font-size: 1em; }
          .intro .intro-list > li article footer a:active {
            color: #fff; }
          .intro .intro-list > li article footer a:hover {
            background: #e53359;
            color: #fff; }
          .intro .intro-list > li article footer a:active {
            background: #c51349;
            color: #fff; }
          .intro .intro-list > li article footer a.alt {
            background: #252122; }
            .intro .intro-list > li article footer a.alt:hover {
              background: #353132; }
            .intro .intro-list > li article footer a.alt:active {
              background: #151112; }

/**
 * @file
 * Visual styles for pager.
 */
.pager__items {
  clear: both;
  text-align: center; }

.pager__item {
  display: inline;
  padding: 0.5em; }

.pager__item.is-active {
  font-weight: bold; }

/*# sourceMappingURL=screen.css.map */
